/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


#datetime-picker,
button {
  display: inline-block;
  align-items: center;
}
#datetime-picker {
  justify-content: flex-start;
  width: 272px;
  height: 40px;
  margin-top: 36px;
  margin-left: 156px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
} 
#datetime-picker:hover{
  border-color: #000000;
}
#datetime-picker:active {
  border-color: #4E75FF;
}
#datetime-picker:disable {
  color: #808080;
  background-color: #FAFAFA;
} 
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background: #cfcfcf;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}
button:active {
  background: #6C8CFF;
  color: #ffffff;
}
.timer {
  display: flex;
  margin-left: 156px;
  justify-content: space-between;
  width: 346px;
}
.field {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: #2e2f42;
}
.value {
  font-family: var(--font-family);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}  
.label {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;

}
#name >
label {
  display: flex;
  flex-direction: column;
  width: 360px;
  }

input[name="delay"] {
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 156px;
}
fieldset {
  width: 360px;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 0;  
}
legend {
  margin-left: 28px;
}
input[name="state"] {
  margin-left: 24px;
  margin-top: 8px;
}
.btn-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 16px;
  gap: 10px;
  margin-top: 16px;
  width: 360px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}